@color-text: #fff;
@color-background: #4c4a48;
@color-button: #2cc306;
@font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-size: 15px;

div.heyCookie {
  background: @color-background;
  border: none;
  border-top: thin solid @color-text;
  bottom: 0;
  left: 0;
  color: @color-text;
  font-family: sans-serif;
  font-size: @font-size;
  padding: .2rem 0.3rem;
  position: fixed;
  width: 100%;
  text-align: center;

  &>*{
    margin: 0 .2rem;
  }

  a, button {
    background: @color-button;
    border: thin solid tint(@color-button, 50);
    color: @color-text;
    cursor: pointer;
    font-size: 0.85em;
    padding: 5px 10px;
    display: inline-block;
    line-height: 1.5;
    outline: none;
  }
  a {
    background: @color-text;
    border-color: tint(@color-background, 50);
    color: @color-background;
  }
}